@if (cartService.cartItems.length >= 1) {
  <section class="grid grid-cols-1 md:grid-cols-2 gap-2">
    <div>
      <div class="flex justify-between">
        <div>
          <h2 class="mat-title-large">Order summary</h2>
          <div class="flex gap-2">
            <p>{{ orderTypeTitle }}</p>
            @if (tableId) {
              <p>{{ tableType }}</p>
            }
          </div>
        </div>
        <button mat-button (click)="onClearCart()">clear cart</button>
      </div>
      <div
        class="h-[52vh] grid grid-cols-1 md:grid-cols-2 gap-2 overflow-auto no-scrollbar"
      >
        @for (product of cartItemsWithCopies; track product.id) {
          <app-product-list [product]="product" />
        }
      </div>
      <mat-card class="mt-2" appearance="outlined">
        <mat-card-header>
          <mat-card-title>Bill Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="flex justify-between items-center">
            <p>Item Total</p>
            <p>₹{{ cartService.cartTotalPrice }}</p>
          </div>
          <div class="flex justify-between items-center">
            <p>Additional Charges</p>
            <p>₹15</p>
          </div>
          <div class="flex justify-between items-center">
            <p>To Pay</p>
            <p>₹{{ cartService.cartTotalPrice + 15 }}</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div>
      <h2 class="mat-title-large">Select payment method</h2>
      <mat-radio-group (change)="onSelectPaymentMethod($event)">
        <mat-card appearance="outlined">
          <mat-radio-button value="1">Pay Online</mat-radio-button>
        </mat-card>
        <div class="flex items-center">
          <mat-hint class="mat-body-small ml-1"
            >Please use {{ testCardNumber }} as a test card</mat-hint
          >
          <mat-icon
            class="text-sm mt-1 ml-1 cursor-pointer"
            (click)="copyCardNumber()"
            >content_copy</mat-icon
          >
        </div>
        <mat-card appearance="outlined" class="mt-3">
          <mat-radio-button value="2">Pay at counter</mat-radio-button>
        </mat-card>
      </mat-radio-group>
      <div class="flex gap-2 mt-5 justify-end">
        <button mat-button (click)="onCancelOrder()">Cancel</button>
        <button
          mat-flat-button
          [disabled]="!paymentMethod || payLoading"
          (click)="onPlaceOrder()"
        >
          Place order
        </button>
      </div>
    </div>
  </section>
} @else {
  <section>
    <p>Need empty state here!</p>
  </section>
}
