@if (cartService.cartItems.length >= 1) {
  <section class="grid grid-cols-1 md:grid-cols-12 gap-4">
    <mat-card class="md:col-span-4 col-span-full" appearance="outlined">
      <div class="flex items-baseline justify-between">
        <mat-card-header>
          <mat-card-title style="margin-bottom: 5px">
            Order Summary
          </mat-card-title>
          <mat-card-subtitle>
            {{ orderTypeTitle }}
            <div
              class="flex md:flex-row flex-col gap-2 md:items-center mt-2 flex-wrap"
            >
              <div class="flex gap-2">
                <mat-icon>restaurant</mat-icon>
                <p class="mat-body-large">{{ cafeName }}</p>
              </div>
              @if (orderType === OrderTypeEnum["Reserve table"]) {
                <div class="flex gap-2">
                  <mat-icon>people</mat-icon>
                  <p class="mat-body-large">{{ guest }} guests</p>
                </div>
                <div class="flex gap-2">
                  <mat-icon>calendar_today</mat-icon>
                  <p class="mat-body-large">{{ reserveTableDetails }}</p>
                </div>
              } @else if (orderType === OrderTypeEnum["Book at Table"]) {
                <div class="flex gap-2">
                  <mat-icon>table_chart</mat-icon>
                  <p class="mat-body-large">{{ tableType }}</p>
                </div>
              } @else if (orderType === OrderTypeEnum["Schedule Pickup"]) {
                <div class="flex gap-2">
                  <mat-icon>calendar_today</mat-icon>
                  <p class="mat-body-large">{{ scheduleDetails }}</p>
                </div>
              }
            </div>
          </mat-card-subtitle>
        </mat-card-header>
        <button mat-icon-button (click)="onEditOption()">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <mat-card-content>
        <div class="flex justify-between items-center">
          <h3 class="mat-title-large">Items</h3>
          <button mat-button (click)="onClearCart()">clear cart</button>
        </div>
        <div class="h-[63vh] overflow-auto no-scrollbar">
          @for (product of cartItemsWithCopies; track product.id) {
            <app-cart-list
              [product]="product"
              [isProduct]="true"
              [isOrderHistroy]="false"
              [isReserveTable]="isReserveTable"
            />
          }
          @if (orderDetails?.orderType !== OrderTypeEnum["Reserve table"]) {
            <div class="mt-4">
              @if (!combosLoading) {
                @if (combos.length) {
                  <div class="flex justify-between items-baseline">
                    <h3 class="mat-title-medium relative bottom-[6px]">
                      Add-ons You Should Definitely Checkout
                    </h3>
                    <mat-chip>
                      <div class="flex items-center gap-2">
                        <mat-icon> local_offer</mat-icon>
                        <span>Combos</span>
                      </div>
                    </mat-chip>
                  </div>
                  @for (combo of combos; track combo.id) {
                    <app-cart-list
                      [product]="combo"
                      [isProduct]="false"
                      [isOrderHistroy]="false"
                      (emitRemoveCombo)="removeCombo($event)"
                    />
                  }
                }
              } @else {
                <app-spinner />
              }
            </div>
          }
        </div>
      </mat-card-content>
    </mat-card>
    <div class="md:col-span-8 col-span-full">
      <mat-card class="mb-2" appearance="outlined">
        <mat-card-header>
          <mat-card-title style="margin-bottom: 8px"
            >Bill Details</mat-card-title
          >
        </mat-card-header>
        <mat-card-content>
          <div class="flex justify-between items-center">
            <p>Item Total</p>
            <p>₹{{ cartService.cartTotalPrice }}</p>
          </div>
          <div class="flex justify-between items-center">
            <p>Additional Charges</p>
            <p>₹15</p>
          </div>
          <div class="flex justify-between items-center">
            <p>Total</p>
            <p>₹{{ cartService.cartTotalPrice + 15 }}</p>
          </div>
        </mat-card-content>
      </mat-card>
      <div>
        <h2 class="mat-title-large" style="margin: 15px 0">
          Select payment method
        </h2>
        <mat-radio-group (change)="onSelectPaymentMethod($event)">
          <mat-card appearance="outlined">
            <mat-radio-button value="1"> Pay Online </mat-radio-button>
          </mat-card>
          <div class="flex items-center">
            <mat-hint class="mat-body-small ml-1"
              >Please use {{ testCardNumber }} as a test card</mat-hint
            >
            <mat-icon
              class="text-sm mt-1 ml-1 cursor-pointer"
              (click)="copyCardNumber()"
              >content_copy</mat-icon
            >
          </div>
          @if (!isReserveTable) {
            <mat-card appearance="outlined" class="mt-3">
              <mat-radio-button value="2">Pay at counter</mat-radio-button>
            </mat-card>
          }
        </mat-radio-group>
        <div class="flex gap-2 mt-5 justify-end">
          <button mat-button (click)="onCancelOrder()">Cancel</button>
          <button
            mat-flat-button
            [disabled]="!paymentMethod || payLoading"
            (click)="onPlaceOrder()"
          >
            Place order
          </button>
        </div>
      </div>
    </div>
  </section>
} @else {
  <section class="h-[85vh] flex flex-col items-center justify-center">
    <img
      src="/cart-empty-state.svg"
      alt="cart-empty"
      class="mb-5"
      [height]="breakPointService.isMobileScreen ? 250 : 400"
      [width]="breakPointService.isMobileScreen ? 250 : 400"
    />
    <p class="mat-body-large text-center">
      Your cart is looking a bit lonely! How about we fill it up with some
      delicious coffee?
    </p>
    <a routerLink="/cafes" mat-stroked-button>Browse Cafes</a>
  </section>
}
