<mat-card appearance="outlined" class="flex flex-col h-full product-cart-card">
  <img
    mat-card-image
    [ngSrc]="product.image"
    height="400"
    width="400"
    [alt]="product.name"
    class="product-image"
  />
  <mat-card-header>
    <mat-card-title>{{ product.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="mt-2">
    <p>
      {{ product.description | truncate }}
    </p>
  </mat-card-content>
  <mat-card-actions class="flex justify-between items-center mt-auto">
    <p style="margin: 0; margin-left: 7px">₹{{ product.price }}</p>
    <div class="cart-btn">
      @if (product.quantity) {
        <button (click)="onRemoveItem(product)" mat-icon-button>
          <mat-icon class="icon-size">remove</mat-icon>
        </button>
        <span>{{ product.quantity }}</span>
        <button (click)="onAddItem(product)" mat-icon-button>
          <mat-icon class="icon-size">add</mat-icon>
        </button>
      } @else {
        <div
          matTooltip="A current order is placed"
          [matTooltipDisabled]="!isOrderPlaced"
        >
          <button
            mat-button
            [disabled]="isOrderPlaced"
            (click)="onAddItem(product)"
          >
            Add
          </button>
        </div>
      }
    </div>
  </mat-card-actions>
</mat-card>
