<mat-card appearance="outlined">
  <img
    mat-card-image
    [ngSrc]="product.image"
    height="400"
    width="400"
    [alt]="product.name"
    class="cafe-image"
  />
  <mat-card-header>
    <mat-card-title>{{ product.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="mt-2">
    <p>
      {{ product.description | truncate }}
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <div class="cart-btn">
      <button (click)="onRemoveItem()" mat-icon-button>
        <mat-icon class="icon-size">remove</mat-icon>
      </button>
      <span>{{ quantity }}</span>
      <button (click)="onAddItem()" mat-icon-button>
        <mat-icon class="icon-size">add</mat-icon>
      </button>
    </div>
    <!-- <a [routerLink]="['cafes', cafe.id]" mat-button>Explore</a> -->
  </mat-card-actions>
</mat-card>
