<mat-card appearance="outlined" class="flex flex-col h-full">
  <img
    mat-card-image
    [ngSrc]="product.image"
    height="400"
    width="400"
    [alt]="product.name"
    class="product-image"
  />
  <mat-card-header>
    <mat-card-title>{{ product.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="mt-2">
    <p>
      {{ product.description | truncate }}
    </p>
  </mat-card-content>
  <mat-card-actions align="end" class="flex justify-end mt-auto">
    <div class="cart-btn">
      <button
        [disabled]="!isAllowedToCart"
        (click)="onRemoveItem(product)"
        mat-icon-button
      >
        <mat-icon class="icon-size">remove</mat-icon>
      </button>
      <span>{{ product.quantity }}</span>
      <button
        [disabled]="!isAllowedToCart"
        (click)="onAddItem(product)"
        mat-icon-button
      >
        <mat-icon class="icon-size">add</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
