<div>
  <div class="flex w-full justify-end mt-2">
    <a routerLink="/" mat-button>Skip</a>
  </div>
  <section class="flex flex-col items-center justify-center h-[90vh]">
    <h1 class="mat-display-small text-center">Select Your Coffee Avatar</h1>
    @if (avatars) {
      <div
        class="flex flex-wrap items-center justify-center gap-5 avatar-container rounded-md p-8"
      >
        @for (avatar of avatars; track avatar) {
          <img
            [src]="avatar"
            alt="avatar"
            height="120"
            width="120"
            class="rounded-full cursor-pointer"
            (click)="onSelectAvatar(avatar)"
            [class.highlight]="selectedAvatar === avatar"
          />
        }
      </div>
    } @else {
      <app-spinner />
    }
    <div class="flex w-full justify-end mt-4">
      <button
        mat-flat-button
        [disabled]="!selectedAvatar"
        (click)="onUpdateAvatar()"
      >
        Save
      </button>
    </div>
  </section>
</div>
