<section
  class="flex flex-col md:flex-row items-center justify-center md:justify-around h-screen background-image px-4 md:px-0"
>
  <div class="flex md:block items-start gap-4">
    <img src="/logo.svg" alt="logo" />
    <div>
      <h1 class="mat-display-small text-white">Coffee App</h1>
      <p class="mat-headline-small text-white">
        Start your coffee journey with us!
      </p>
    </div>
  </div>
  <div
    class="flex flex-col items-center justify-center p-5 rounded-xl md:w-1/4 w-[90%] h-3/5 glass-design"
  >
    <h1 class="mat-display-medium">Welcome</h1>
    <h2 class="mat-headline-small">Login/Signup</h2>
    <div
      class="flex items-center justify-center gap-2 p-2 rounded-lg mat-elevation-z1 w-1/2 mb-3 cursor-pointer text-center bg-[#FFDCBF]"
      (click)="onLogin()"
    >
      <img src="/google.svg" alt="google-logo" />
      <span class="mat-title-small"> Google </span>
    </div>
    <!-- <div
      class="flex items-center justify-center gap-2 p-2 rounded-lg mat-elevation-z1 w-1/2 cursor-pointer text-center bg-[#FFDCBF]"
      (click)="onLogin()"
    >
      <img src="/microsoft.svg" alt="microsoft-logo" />
      <span class="mat-title-small"> Microsoft </span>
    </div> -->
  </div>
</section>
