<section class="relative">
  @if(breakPointService.isDesktopTabScreen){
  <div class="mb-4">
    <button mat-fab extended [matMenuTriggerFor]="menu">
      <mat-icon>add</mat-icon>
      Discover
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span>Order For Table</span>
      </button>
      <button mat-menu-item>
        <span>Schedule Your Pickup</span>
      </button>
      <button mat-menu-item>
        <span>Book Your Table</span>
      </button>
    </mat-menu>
  </div>
  } @if(breakPointService.isMobileScreen){
  <app-search [options]="options" />
  }
  <h1 class="mat-headline-medium">Top Cafes</h1>
  <div class="grid grid-cols-1 md:grid-cols-4 gap-2">
    @for(cafe of cafes;track cafe.id){
    <app-cafe-list [cafe]="cafe" />
    }
  </div>
  @if(breakPointService.isMobileScreen){
  <button
    mat-fab
    extended
    [matMenuTriggerFor]="menu2"
    style="position: fixed; right: 17px; bottom: 65px"
  >
    <mat-icon>add</mat-icon>
    Discover
  </button>
  <mat-menu #menu2="matMenu" yPosition="above">
    <button mat-menu-item>
      <span>Order For Table</span>
    </button>
    <button mat-menu-item>
      <span>Schedule Your Pickup</span>
    </button>
    <button mat-menu-item>
      <span>Book Your Table</span>
    </button>
  </mat-menu>
  }
</section>
