<section>
  @if (orderType !== null && orderType >= 0) {
    @switch (orderType) {
      @case (0) {
        <div>
          <h1 class="mat-title-large pt-2 text-center">Choose your table</h1>
          <div>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Choose Table</mat-label>
              <mat-select [(ngModel)]="tableId">
                @for (table of tables; track table.id) {
                  <mat-option
                    (onSelectionChange)="onTableChange($event)"
                    [value]="table.id"
                    >{{ table.name }} ({{ table.info }})</mat-option
                  >
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <button mat-button (click)="resetOptions()">
              Choose other option
            </button>
          </div>
          <div class="flex justify-center">
            <button
              mat-flat-button
              [disabled]="!tableId"
              (click)="proccedToCart()"
            >
              Proceed
            </button>
          </div>
        </div>
      }
      @case (1) {
        <h1 class="mat-title-large pt-2 text-center">Schedule Your Pickup</h1>
        <div>
          <button mat-button (click)="resetOptions()">
            Choose other option
          </button>
        </div>
      }
      @case (2) {
        <h1 class="mat-title-large pt-2 text-center">Book Your Table</h1>
        <div>
          <button mat-button (click)="resetOptions()">
            Choose other option
          </button>
        </div>
      }
    }
  } @else {
    <div>
      <h1
        [class]="
          breakPointService.isDesktopTabScreen
            ? 'mat-title-large'
            : 'mat-title-medium'
        "
        class="pt-2 text-center"
      >
        What do you want to do with your order
      </h1>
      <mat-nav-list>
        <a mat-list-item (click)="onSelectType(0)">
          <span matListItemTitle>Order For Table</span>
        </a>
        <a mat-list-item (click)="onSelectType(1)">
          <span matListItemTitle>Schedule Your Pickup</span>
        </a>
        <a mat-list-item (click)="onSelectType(2)">
          <span matListItemTitle>Book Your Table</span>
        </a>
      </mat-nav-list>
    </div>
  }
</section>
