<section>
  <mat-card
    appearance="outlined"
    class="md:w-1/4 mx-auto flex flex-col items-center"
  >
    <mat-card-header>
      <div class="flex flex-col items-center">
        <img
          mat-card-image
          [ngSrc]="photoURL"
          alt="avatar"
          height="120"
          width="120"
          class="rounded-full"
        />
        <mat-card-title>{{ displayName }}</mat-card-title>
        <mat-card-subtitle>{{ email }}</mat-card-subtitle>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="my-2">
        <mat-button-toggle-group (change)="onThemeChange($event)">
          <mat-button-toggle [checked]="isDarkTheme === false" value="light"
            >Light Mode</mat-button-toggle
          >
          <mat-button-toggle [checked]="isDarkTheme === true" value="dark"
            >Dark Mode</mat-button-toggle
          >
        </mat-button-toggle-group>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="mt-1">
        <button class="error-button" mat-flat-button (click)="onLogout()">
          <mat-icon>logout</mat-icon>
          Logout
        </button>
      </div>
    </mat-card-actions>
  </mat-card>

  <div class="my-2">
    @if (!loading) {
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Current Order">
          @if (!isCurrentOrdersEmpty) {
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-4">
              @for (currentOrder of currentOrders; track currentOrder.type) {
                @if (currentOrder.children.length >= 1) {
                  <app-order-list [details]="currentOrder" [isHome]="false" />
                }
              }
            </div>
          } @else {
            <section
              class="flex flex-col items-center justify-center mt-4 overflow-hidden"
            >
              <img
                src="/account-empty-state.svg"
                alt="cart-empty"
                class="mb-5"
                [height]="250"
                [width]="250"
              />
              <p class="mat-body-large text-center">
                It seems you don't have any current orders. How about we grab
                some coffee?
              </p>
              <a routerLink="/cafes" mat-stroked-button>Browse Cafes</a>
            </section>
          }
        </mat-tab>
        <mat-tab label="Order Histroy">
          @if (!isDeliveredOrdersEmpty) {
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-4">
              @for (
                deliveredOrder of deliveredOrders;
                track deliveredOrder.type
              ) {
                @if (deliveredOrder.children.length >= 1) {
                  <app-order-list [details]="deliveredOrder" [isHome]="false" />
                }
              }
            </div>
          } @else {
            <section
              class="flex flex-col items-center justify-center mt-4 overflow-hidden"
            >
              <img
                src="/account-empty-state.svg"
                alt="cart-empty"
                class="mb-5"
                [height]="250"
                [width]="250"
              />
              <p class="mat-body-large text-center">
                It seems you don't have any orders. How about we grab some
                coffee?
              </p>
              <a routerLink="/cafes" mat-stroked-button>Browse Cafes</a>
            </section>
          }
        </mat-tab>
      </mat-tab-group>
    } @else {
      <app-spinner />
    }
  </div>
</section>
